/* styles.module.css */
.sidebar {
    width: 75%;
    background-color: white;
    border-right: 1px solid gray;
    transition: all 0.3s ease-in-out;
  }
  
  .sidebar.hidden {
    transform: translateX(-100%);
  }
  
  @media (min-width: 640px) {
    .sidebar {
      width: 25%;
      transform: none;
    }
  }